<footer class="footer legal">
    <div class="container">
        <div><p>© The Law Society {{year}}. All rights reserved.</p></div>
        <div id="footerLinks">
            <ul>
                <li><a href="https://www.lawsociety.org.uk/website-information/cookies">Cookies</a></li>
                <li><a href="https://www.lawsociety.org.uk/website-information/privacy-policy">Privacy policy</a></li>
                <li><a href="/tos">Terms of service</a></li>
                <li><a href="https://www.lawsociety.org.uk/contact-or-visit-us">Contact us</a></li>
            </ul>
        </div>
    </div>
</footer>
