// Who's online plugin
.online_users_widget {
	#whos-online {
		span:first-child {
			font-family: 'Tinos', sans-serif;
			font-size: 20px;
			vertical-align: middle;
			color: black;
			margin-right: 10px;
		}
	}
}
